services:
  app:
    build: .
    container_name: tickets-api
    ports:
      - "8083:8083"
    environment:
      SPRING_PROFILES_ACTIVE: prod
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: postgres-db
    restart: always
    environment:
      POSTGRES_USER: ticket_db_prod_user
      POSTGRES_PASSWORD: SPW16sO3XlSkpMGZ3VFDguwCOfGiv8Xm
      POSTGRES_DB: ticket_db_prod
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: