spring:
  url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
  username: ${DB_USER}
  password: ${DB_PASSWORD}}
  driver-class-name: org.postgresql.Driver
  hikari:
    maximum-pool-size: 20
    minimum-idle: 2
    idle-timeout: 30000
    max-lifetime: 1740000
    connection-timeout: 20000
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
      format_sql: false
      show_sql: false
      use_sql_comments: false
    open-in-view: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_USERNAME}
    password: ${GMAIL_APP_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000
  refresh-expiration: 604800000

logging:
  level:
    com.kimhok.tickets: ERROR
    org.springframework.security: ERROR
    io.jsonwebtoken: ERROR
    org.hibernate.SQL: ERROR
    org.hibernate.type.descriptor.sql: TRACE
bakong:
  token: ${BAKONG_TOKEN}
  base-uri: ${BAKONG_BASE_URI}

server:
  port: 8080
frontend:
  uri: ${FRONTEND_URI}
springdoc:
  swagger-ui:
    enabled: false
  api-docs:
    enabled: false