spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/ticketdb_prod
    username: postgres
    password: haki$1120
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
      format_sql: false
      show_sql: false
      use_sql_comments: false
logging:
  level:
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql.BasicBinder: WARN

server:
  port: 8083